/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Kalam", cursive;
  text-align: center;
  background-color: #d8d2c6;
}

.todo_list {
  margin: 0 auto;
  width: 600px;
  min-height: 800px;
  margin-top: 50px;
  border: solid 2px black;
  border-width: 3px 4px 2px 5px;
  border-radius: 40% 6% 93% 5%/5% 94% 7% 95%;
  background-color: #d8d2c6;
}

.title {
  position: relative;
}
.title h1 {
  position: absolute;
  font-size: 60px;
  width: 300px;
  height: 50px;
  top: -30px;
  left: 150px;
  z-index: 100;
  background-color: #d8d2c6;
}
.title p {
  font-size: 16px;
  font-weight: lighter;
  padding: 30px;
}
.title span {
  font-weight: bold;
  font-size: 24px;
  color: #ca101e;
}

.newThing {
  padding: 20px 120px;
}
.newThing input.todoAdd {
  width: 200px;
  height: 30px;
  margin-right: 10px;
  border: 0px;
  border-bottom: dashed 2px black;
  outline: none;
  font-family: "Kalam", cursive;
  background-color: #d8d2c6;
  font-size: 16px;
}
.newThing input.btn {
  font-family: "Kalam", cursive;
  width: 50px;
  border: dashed 2px black;
  background-color: #afa289;
  cursor: pointer;
}
.newThing input.btn:hover {
  background-color: #8c7d60;
  transition-duration: 0.6s;
  font-weight: bold;
  color: #fff;
}

.allBtn input {
  margin: 20px;
  width: 100px;
  height: 30px;
  border: double;
  border-width: 1px 2px 3px 3px;
  background-color: #fff;
  cursor: pointer;
}
.allBtn input:hover {
  background-color: #a62a2a;
  color: #fff;
  font-weight: bold;
  transition-duration: 0.3s;
}

ul {
  margin-top: 50px;
  font-size: 20px;
  margin-left: 150px;
}

li {
  text-align: left;
  margin-top: 30px;
  display: flex;
}
li h3 {
  width: 150px;
}
li p {
  margin-right: 20px;
  font-size: 16px;
}

input.check {
  margin: 0px 20px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  background-color: #d8d2c6;
}
input.check:hover {
  background-color: #2a4b3a;
  color: #fff;
  font-size: bold;
  border: solid 2px black;
  transition-duration: 0.4s;
}

input.delete {
  background-color: #d8d2c6;
  border: none;
  background-color: #d8d2c6;
  font-size: 20px;
  cursor: pointer;
  margin-top: -5px;
}
input.delete:hover {
  color: #ca101e;
  font-size: 24px;
  transition: 0.4s;
}/*# sourceMappingURL=all.css.map */